html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.contentpolla {
  min-height: calc(100vh - 70px);
}
.footerpolla {
  height: 50px;
}

table.reglamento caption {
  font-size: 1.8rem;
}
table.reglamento {
  width: 100%;
  font-size: 1.2rem;
  margin: 20px auto;
}

table.reglamento tbody tr:nth-child(odd) {
  background: #202932;
}

table.reglamento tbody tr:nth-child(even) {
  background: #2c3844;
}

table.reglamento tbody {
  color: white;
}

table.reglamento table, td, th {
  border-collapse: collapse;
}

table.reglamento th, td {
  padding: 10px;
  border: 1px solid #777;
  text-align: center;
}

table.reglamento td p {
  color: black;
  text-align: center;
}

.firstRowFirstColumn {
  width: 400px;
}



.midivi {
  background-color: rgb(252, 246, 247);
  max-width: 510px;
  max-height: 299px;
  overflow-x: auto;
  padding-bottom: 20px;
}